/* twikoo 评论样式 */
.twikoo{overflow: visible !important;}
.tk-extras,.tk-row.actions .tk-action-icon.__markdown,.tk-preview,.tk-content p a.at,.tk-tag.tk-tag-green{display: none !important;}
.tk-content{margin-top:0px !important;}
.tk-content span:first-child{float:left;}
.tk-content p{margin: 0;}
.tk-comment{margin-top: 17px !important;}
.tk-comments-container .tk-avatar{margin-top:10px;}
.tk-replies .tk-content span:first-child{visibility:hidden;}
.tk-replies .tk-content span:first-child a{visibility:visible !important;margin-left: -2em;}
.tk-expand{border-radius:0 0 5px 5px;position:relative;z-index:99;margin-top:-10px;padding:0 !important;}
.tk-admin{position:fixed !important;z-index:999;}
.el-button.tk-preview{border:none;}
.el-input.is-active .el-input__inner, .el-input__inner:focus,.el-textarea__inner{border-color:#ccc !important;}
.el-button--primary.is-disabled,.el-button--primary.is-disabled:active,.el-button--primary.is-disabled:focus,.el-button--primary.is-disabled:hover{color: #FFF !important;background-color: #252627 !important;border-color: #4a4b50 !important;}
.tk-action-icon svg{fill: #434a56 !important;}
.tk-comments-title .tk-icon svg{fill: #ccc !important;}
.tk-action-count{color: #434a56 !important;}
.el-loading-mask{background-color: #fff !important;}
.dark-theme .el-loading-mask{background-color: #292a2d !important;}
.dark-theme .tk-expand{background:linear-gradient(rgba(38,42,56,0),#3b3d42) !important;}
.dark-theme .el-button,.dark-theme .el-input__inner, .dark-theme .el-textarea__inner{color: silver !important;background-color: #252627 !important;border-color: #4a4b50 !important;}
.dark-theme .tk-meta-input .el-input .el-input-group__prepend{color: silver !important;background-color: #4a4b50 !important;border-color: #4a4b50 !important;}
.dark-theme .el-button--primary.is-disabled,.dark-theme .el-button--primary.is-disabled:active,.dark-theme .el-button--primary.is-disabled:focus,.dark-theme .el-button--primary.is-disabled:hover{color: #FFF !important;background-color: #252627 !important;border-color: #4a4b50 !important;}
.dark-theme .tk-action-icon svg{fill: #ccc !important;}
.dark-theme .tk-comments-title .tk-icon svg{fill: #4a4b50 !important;}
.dark-theme .tk-action-count{color: #ccc !important;}
.OwO .OwO-body {z-index: 99;}
.OwO .OwO-body .OwO-items-emoji .OwO-item{font-size:23px !important;}
.OwO .OwO-body .OwO-items-image .OwO-item{max-width: calc(20% - 10px) !important;}
.dark-theme .OwO-body{color: silver !important;background-color: #252627 !important;border-color: #4a4b50 !important;}
.dark-theme .OwO .OwO-body .OwO-bar{border-top: 1px solid #4a4b50 !important;}
.dark-theme .OwO .OwO-body .OwO-items .OwO-item,.dark-theme .OwO .OwO-body .OwO-bar{background:#4a4b50 !important;color: #ccc !important;}
.dark-theme .OwO .OwO-body .OwO-bar .OwO-packages li:hover,.dark-theme .OwO .OwO-body .OwO-items-image .OwO-item:hover,.dark-theme .OwO .OwO-body .OwO-bar .OwO-packages .OwO-package-active{background-color: #252627 !important;}
